### 통계함수

+ count()
+ sum()
+ mean()
+ std()
+ var()
+ min()
+ max()
+ cumsum()
+ comprod()


- discribe() : 요약통계량

In [1]:
# pandas 기술 통계 확인
from pandas import DataFrame

df=DataFrame({'거래처':['A매장','B매장','C매장','A매장','C매장','C매장', 'C매장', 'C매장'],
             '주문량':[100,25, 40, 55, 137, 70, 80, 89],
             '할인율':[0.1, 0.3, 0.03, 0.07, 0.15, 0.2, 0.2, 0.2]})
df

   거래처  주문량   할인율
0  A매장  100  0.10
1  B매장   25  0.30
2  C매장   40  0.03
3  A매장   55  0.07
4  C매장  137  0.15
5  C매장   70  0.20
6  C매장   80  0.20
7  C매장   89  0.20

### [ 연습]

1. 총합

2. 평균

3. 요약통계량

4. 누적합

5. 주문량 * 할인율

6. 주문량만 누적합 구하기

6. 거래처 수를 구하고 표로 출력

In [13]:
df['주문량'].sum()

596

In [6]:
df.mean()

주문량    74.50000
할인율     0.15625
dtype: float64

In [21]:
df['주문량'].describe()

count      8.000000
mean      74.500000
std       35.532681
min       25.000000
25%       51.250000
50%       75.000000
75%       91.750000
max      137.000000
Name: 주문량, dtype: float64

In [35]:
df[['주문량','할인율']].cumsum()

   주문량   할인율
0  100  0.10
1  125  0.40
2  165  0.43
3  220  0.50
4  357  0.65
5  427  0.85
6  507  1.05
7  596  1.25

In [15]:
df['주문량']* df['할인율']

0    10.00
1     7.50
2     1.20
3     3.85
4    20.55
5    14.00
6    16.00
7    17.80
dtype: float64

In [17]:
df['주문량'].cumsum()

0    100
1    125
2    165
3    220
4    357
5    427
6    507
7    596
Name: 주문량, dtype: int64

In [34]:
df['거래처'].value_counts()

C매장    5
A매장    2
B매장    1
Name: 거래처, dtype: int64

In [29]:
df['주문량'].cumprod()

0                100
1               2500
2             100000
3            5500000
4          753500000
5        52745000000
6      4219600000000
7    375544400000000
Name: 주문량, dtype: int64