## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [15]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D'])
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [18]:
# 결측치 만들기 ( NaN, nan)
df.iloc[1][1] = np.NAN
df
df.loc['B',1] = np.nan
df
df.loc[1:,2] = np.NAN
df

<ipython-input-18-82c470565177>:6: FutureWarning: Slicing a positional slice with .loc is not supported, and will raise TypeError in a future version.  Use .loc with labels or .iloc with positions instead.
  df.loc[1:,2] = np.NAN

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  NaN  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

## 결측치 확인

In [22]:
df.isnull()
df.notnull()
print(df.isnull().sum())

0    0
1    1
2    3
3    0
dtype: int64

### 결측치 처리

In [24]:
df.dropna()

     0    1    2    3
A  1.0  1.0  1.0  1.0

In [25]:
df.fillna(0)

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  0.0  0.0  1.0
C  1.0  1.0  0.0  1.0
D  1.0  1.0  0.0  1.0

In [28]:
df.fillna({1:'NULL', 2:-100})

     0     1      2    3
A  1.0     1    1.0  1.0
B  1.0  NULL -100.0  1.0
C  1.0     1 -100.0  1.0
D  1.0     1 -100.0  1.0