## 인터넷 상의 데이타 읽기

1. Url 상의 csv 읽기 :  pandas.read_csv(url) 

2. 크롤링하여 읽기

    ` requests / Selenium 라이브러리 활용
    ` pandas.read_html(url, .. ) : 내부적으로 requests 라이브러리 사용
    
3. pandas-datareader 라이브러리

    ` 내부적으로 requests 라이브러리 사용
    ` 버전에 따라 오류 발생
    ` Google Finance/Yahoo Finance 등에서 데이타 지원 -> 연결이 안될 수도 있음

    [참고] Kosdaq 종목코드 CSV URL : https://goo.gl/3p3dSG

        - https://gist.githubusercontent.com/allieus/5ce98166166d06ee9060e6a261e812dc/raw
        - 위 주소를 pandas.read_csv(여기)에 붙이기

    [참고] Kospi 종목코드 CSV URL : https://goo.gl/aUHznC

        - https://gist.githubusercontent.com/allieus/733725662c644ab56c9db9d3cdf77ed1/raw

## (1) read_csv()

In [5]:
import pandas as pd

df = pd.read_csv('https://gist.githubusercontent.com/allieus/5ce98166166d06ee9060e6a261e812dc/raw')
df.head()

        종목명    종목코드
0     제일홀딩스    3380
1  하나금융9호스팩  261200
2    교보7호스팩  267320
3      보라티알  250000
4    한화수성스팩  265920

 (2) pandas.read_html() * 최근에는 안됨

- 웹페이지 크롤링을 쉽게 도와주는 만능 라이브러리 X (아님)

- 웹 페이지 상의 HTML table을 한번에 로딩하기 위한 목적임

  그러나 데이터 외에 다른 문자열이 있으면 곤란

##  (3) pandas-datareader 라이브러리 

        ` 설치 필요
        ` 최신버전 업그레이드 필수
        ` pip install --upgrade pandas-datareader
        ` Anaconda Prompt에서 확인 가능(반드시 관리자 권한으로 실행) : conda install pandas-datareader
        ` Jupyter 에서 !pip install --upgrade pandas-datareader

In [6]:
# !pip install --upgrade pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
Requirement already satisfied, skipping upgrade: requests>=2.19.0 in c:\users\kosmo_04\anaconda3\lib\site-packages (from pandas-datareader) (2.24.0)
Requirement already satisfied, skipping upgrade: lxml in c:\users\kosmo_04\anaconda3\lib\site-packages (from pandas-datareader) (4.6.1)
Requirement already satisfied, skipping upgrade: pandas>=0.23 in c:\users\kosmo_04\anaconda3\lib\site-packages (from pandas-datareader) (1.1.3)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\kosmo_04\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.25.11)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in c:\users\kosmo_04\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in c:\users\kosmo_04\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in c:\users\kosmo_04\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\users\kosmo_04\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2020.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\users\kosmo_04\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in c:\users\kosmo_04\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.19.2)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\users\kosmo_04\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.9.0

In [8]:
import pandas_datareader as pdr

pdr.get_data_yahoo('035420.KS','2021-01-01','2021-02-02')

              High     Low    Open   Close   Volume  Adj Close
Date
2021-01-04  294000  285500  291500  293000   947178     293000
2021-01-05  292500  286500  291500  292500   912657     292500
2021-01-06  300500  289500  292500  290000  1375856     290000
2021-01-07  292000  286500  288500  289500  1155734     289500
2021-01-08  312000  290000  293500  312000  3175396     312000
2021-01-11  323500  301000  320000  309000  2765169     309000
2021-01-12  308500  292500  305000  304000  1573299     304000
2021-01-13  317500  304000  306000  314000  1894304     314000
2021-01-14  326000  314000  318500  318000  1548585     318000
2021-01-15  323000  305500  320500  306000  1106810     306000
2021-01-18  308500  300000  304500  300500   864969     300500
2021-01-19  310500  299500  303500  308000   880238     308000
2021-01-20  313500  302000  313500  308000   885472     308000
2021-01-21  326000  316000  316500  322500  1941446     322500
2021-01-22  350000  326000  332000  343500  3303950     343500
2021-01-25  353000  340000  349000  349000  1593848     349000
2021-01-26  351000  338000  350500  342000  1247284     342000
2021-01-27  352000  339500  347000  341500  1149246     341500
2021-01-28  366000  335000  336000  355000  2285696     355000
2021-01-29  362000  340500  362000  343000  1607894     343000
2021-02-01  352500  341500  346500  348000   988630     348000
2021-02-02  370000  353000  358000  369500   823020     369500